@import "App"

#login-container
  background: #f5f5f5

  .login-card
    max-width: 400px
    margin: 0 auto
    background-color: #fff
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11)
    border-radius: 5px

    .login-card__title
      padding: 2rem 2rem 0

    .login-card__content
      padding: 1rem 2rem 2rem
